# site build directory, by jekyll
_site/

# sass cache, by sass
.sass-cache/

# IntelliJ idea configuration files
.idea

# artifacts (such as build output from java) left in working directory
# when switching branches
target/
webapps/
